[submodule "ide/resources/diaphora"]
	path = ide/resources/diaphora
	url = https://github.com/joxeankoret/diaphora
[submodule "ide/resources/ida_mcp"]
	path = ide/resources/ida_mcp
	url = git@github.com:Captain-AI-Hub/IDA-MCP.git
	branch = ida_mcp-main
	ignore = untracked
